<!-- This is an HTML template for the title slide. -->
<!-- Embed logos as necessary. -->
<!-- <a class="nooutlink" href="url"><img class="state-background your-logo-class" src="whatever.png" alt="Whatever" /></a> -->
<div class="talk-title">
  <h1 class="no-toc-progress">%t</h1>
</div>
<div class="talk-subtitle">
  <p>%s</p>
</div>
<div class="talk-author">
  <p>%a <br /> %d</p>
</div>
